img:hover{
    cursor: pointer;
}

.inline{
    display: inline-block;
    vertical-align: top;
}

.inline1{
    display: block;
}

img.arrow {
    height:50px;
    width: 50px;
    display: block;
    margin: auto;
}

.pokemonBox{
    float: top;
    border-width: 0px;
}


